[submodule "trajectory_prediction/MID"]
	path = trajectory_prediction/MID
	url = git@github.com:Gutianpei/MID.git
[submodule "trajectory_prediction/safe-interactive-crowdnav"]
	path = trajectory_prediction/safe-interactive-crowdnav
	url = git@github.com:tahaismail424/safe-interactive-crowdnav.git
[submodule "trajectory_prediction/RVO2"]
	path = trajectory_prediction/RVO2
	url = git@github.com:tahaismail424/RVO2.git
